img{
  filter: gray; /*IE-9*/
  filter: grayscale(1); /*Edge and Firefox*/
  -webkit-filter: grayscale(1); /*Chrome, Safari, Opera*/
}
img:hover{
  filter: none;
  -webkit-filter: grayscale(0);
}
.footer{
  background-color: gray;
  color: white;
}
